.footer {
  text-align: center;
  padding: 5.6em 0 3.6em;
  font-weight: 300;
}

.footer:before {
  display: block;
  content: '';
  border-top: solid 1px rgba(255, 255, 255, 0.25);
  width: 10em;
  margin: 0 auto 3em auto;
}

.footer__copyrights {
  margin: 0 0 2em 0;
}

@media screen and (max-width: 1280px){

  footer {
		padding: 2em 0 2em 0;
	}

}
