.project {
  width: calc((100% / 3) - 2%);
  font-size: 100%;
  line-height: 1em;
  padding: 1em;
  margin: 0 0 1.5em 0;
  position: relative;
  border-radius: 0.1em;
  border: 1px solid rgba(0,0,0,.09);
  background: white;
  opacity: 0.9;
  list-style: none;
  box-sizing: border-box;
  text-align: center;
}

.project__title {
  font-size: 1.5em;
  font-weight: 300;
  color: #637b81;
  margin: 0 0 1em 0;
}

.project__frameworks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0 0 0.5em 0;
}

.project__framework {
  border-radius: 50%;
  background: white;
  line-height: 0.5em;
  border: solid 1px rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 3px 0px #dfdfdf;
  margin: 0.1em;
}

.project__logo {
  width: 1.3em;
  height: 1.3em;
  padding: 0.3em;
}

.project__tags {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.9em;
  margin: 0 0 1em 0;
}

.project__tag {
  max-height: 30px;
  border-radius: 1px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  list-style: none;
  color: #606c76;
  padding: 0px 1em;
  margin: 0.1em;
  background: #f4f5f6;
  border: 1px solid rgba(44, 62, 80, 0.1);
  border-radius: 2px;
}

.project__links {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  text-transform: uppercase;
  margin: 1.4em 0 0 0;
  font-size: 0.9em;
}

.project__demolink {
  display: block;
  width: calc((100% / 2) - 20%);
  border-radius: 3px;
  border: 2px solid rgba(52, 73, 94, 0.1);
  padding: 0.3em 0.5em;
  font-weight: 400;
  text-decoration: none;
  color: white;
  background: rgba(231, 76, 60, 0.8);
}

.project__codelink {
  display: block;
  width: calc((100% / 2) - 20%);
  border-radius: 3px;
  border: 2px solid rgba(52, 73, 94, 0.1);
  padding: 0.3em 0.5em;
  font-weight: 400;
  text-decoration: none;
  color: white;
  background: rgba(41, 128, 185, 0.8);
}

.project__demolink--disabled {
  pointer-events:none;
  color: #606c76;
  background: white;
}

.project__codelink:hover {
  border: 2px solid rgba(41, 128, 185, 0.5);
  background: white;
  color: rgba(41, 128, 185, 0.8);
}

.project__demolink:hover {
  border: 2px solid rgba(231, 76, 60, 0.5);
  background: white;
  color: rgba(231, 76, 60, 0.8);
}

@media screen and (max-width: 1280px){

  .project {
    width: calc((100% / 2) - 2%);
    font-size: 1em;
  }

}

@media screen and (max-width: 980px) {

  .project {
    width: calc((100% / 2) - 2%);
    font-size: 1em;
  }

}

@media screen and (max-width: 736px) {

  #main .thumbnails .project {
    width: calc(100% / 2.1);
    margin: 0 0 2em 0 !important;
  }

  #main .thumbnails .project h3 {
    font-size: 1em;
    padding: 1em;
  }

}

@media screen and (max-width: 480px) {

  #main .thumbnails .project {
    width: 100%;
    margin: 0 0 2em 0 !important;
  }

  #main .thumbnails .project h3 {
    font-size: 1em;
    padding: 1em;
  }

}
